/* Add some margin to the page and set a default font and colour */
 
body {
    margin: 30px;
    font-family: "Georgia", serif;
    line-height: 1.8em;
    color: #333;
  }
   
  /* Give headings their own font */
   
  h1, h2, h3, h4 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
   
  /* Main content area */
   
  #content {
    margin: 80px 70px;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
   .colar{
    border-style: dashed !important;
    width: 91% !important;
    height: 18% !important;
    padding: 0.85em;
    padding-top: 40px;
    padding-bottom: 0;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 10px 0 0 10px;
    background: #fff;
    display: block !important;
   }
   
  /* Header/footer boxes */
   
  .wideBox {
    clear: both;
    text-align: center;
    margin: 70px;
    padding: 10px;
    background: #ebedf2;
    border: 1px solid #333;
  }
   
  .wideBox h1 {
    font-weight: bold;
    margin: 20px;
    color: #666;
    font-size: 1.5em;
  }
   
  /* Slots for final card positions */
   
  #cardSlots {
    margin: 0 auto 3em auto;
    background: rgb(228, 231, 228);
    float: right;
  }
  .droppable-red{
    border: 2px dashed red !important;
  }
  .droppable-blue{
    border: 2px dashed blue !important;
  }
  .droppable-green{
    border: 2px dashed green !important;
  }
  .droppable-yellow{
    border: 2px dashed yellow !important;
  }
  .droppable-pink{
    border: 2px dashed pink !important;
  }
  .droppable-purple{
    border: 2px dashed purple	 !important;
  }
  .droppable-black{
    border: 2px dashed black !important;
  }
  .droppable-white{
    border: 2px dashed white !important;
  }
  .droppable-brown{
    border: 2px dashed brown !important;
  }
  .droppable-orange{
    border: 2px dashed orange !important;
  }


  .drag-item{
    border: none !important;
  }
  /* The initial pile of unsorted cards */
   
  #cardPile {
    margin: 0 auto;
    background: rgb(228, 231, 228);
    float: left;
  }
   
  #cardSlots, #cardPile {
    width: 10%;
    height: 80%;
    padding: .85em;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  }
   
  /* Individual cards and slots */
   
  #cardSlots div, #cardPile div {
    width: 91%;
    height: 18%;
    padding: .85em;
    padding-top: 40px;
    padding-bottom: 0;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 10px 0 0 10px;
    background: #fff;
  }
   
  /*#cardSlots div:first-child, #cardPile div:first-child {
    margin-left: 0;
  }*/
   
  #cardSlots div.hovered {
    background: #aaa;
  }
   
  #cardSlots div {
    border-style: dashed;
  }
   
  #cardPile div {
    background: #666;
    color: #fff;
    font-size: 1em;
    text-shadow: 0 0 3px #000;
    text-align: center;
  }
   
  #cardPile div.ui-draggable-dragging {
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  }
   
  /* Individually coloured cards */
   
  #card1.correct { background: red; }
  #card2.correct { background: brown; }
  #card3.correct { background: orange; }
  #card4.correct { background: yellow; }
  #card5.correct { background: green; }
  #card6.correct { background: cyan; }
  #card7.correct { background: blue; }
  #card8.correct { background: indigo; }
  #card9.correct { background: purple; }
  #card10.correct { background: violet; }
   

   
  /* "You did it!" message */
  #successMessage {
    position: absolute;
    left: 580px;
    top: 250px;
    width: 0;
    height: 0;
    z-index: 100;
    background: #dfd;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    padding: 20px;
  }
  .wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  .drag-container {
    flex: 0 0 auto;
    margin: 2px;
    width: 50px; min-height: 50px;
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
  }
  
  .drag-item {
    width: 100%; height: 25px;
    transition: box-shadow ease-out 350ms;
  }
  
  .drag-item--touchmove {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  }
  .drag-item--red {
    background-color: red !important;
  }
  .drag-item--blue {
    background-color: blue !important;
  }
  .drag-item--green {
    background-color: green !important;
  }
  .drag-item--black {
    background-color: black !important;
  }
  .drag-item--yellow {
    background-color: yellow!important;
  }
  .drag-item--white {
    background-color: white !important;
  }
  .drag-item--orange {
    background-color: orange !important;
  }
  .drag-item--purple {
    background-color: purple !important;
  }
  .drag-item--brown {
    background-color: brown !important;
  }
  .drag-item--pink {
    background-color: pink !important;
  }

  .drag-over {
    background-color: rgba(0,0,0,0.1);
  }
  
  .drag-start {
    background: none;
  }
  

 